
// Start styling it up!

$theme-colors: (
  "primary": #deb887,
  "secondary": #67689b,
  "warning": #dec887,
  "info": #5a7a8e,
);

svg:hover {
  cursor: pointer;
  background-color: #67689b;
  stroke: aliceblue;
  border-radius: 15px;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";